.map {
  width: 98vw;
  height: 98vh;
}

.controls {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 16px;

  div {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    p {
      margin: 8px 0;
      font-size: 1.3em;
    }

    label {
      margin: 8px 0 0 0;
      font-size: 1em;
      font-style: italic;
    }
  }

  div.masts {
    button {
      margin-bottom: 4px;
    }
  }

  button {
    background-color: #625f9c;
    border: 1px solid #625f9c;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    width: auto;
    padding: 7px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  input {
    padding: 8px;
  }
}

.drawing {
  display: flex;
  flex-direction: row;
  padding-right: 8px;
  padding-top: 16px;
  img {
    background-color: #eeebe0;
    margin: 0 4px 4px 4px;
    border-radius: 4px;
    box-shadow: 10px 4px 4px #c5c5c5;
    padding: 4px;
    height: 30px;
    width: auto;
    cursor: pointer;
  }
}

p.legend {
  font-size: 1.3em;
  background-color: white;
  margin-left: 16px;
  padding: 8px;
  border-radius: 4px;
}

.overlay {
  max-width: 200px;
}
